
div(data-role='footer', data-position='fixed', data-theme='b')
    div(data-role='navbar')
        ul
            li
                a.ui-btn-active.ui-state-persist(href='#home', data-icon='home') Home
            li
                a(href='#info', data-icon='info') Info


