
#panelMain(data-role='panel', data-position='left', data-display='overlay', data-transition='slide', data-theme='a')
    ul(data-role='listview', data-inset='false', data-theme='', data-icon='false')
        li(data-role='list-divider') Questionnaires
        li
            a(href='#questionnaire_main') Stress Questionnaire
        li(data-role='list-divider') Usefull Content
        li
            a(href='#thingsToKnow') Things to know about stress
        li
            a(href='#video') Video
