
#questionnaire_main(data-role='page')
    div(data-role='content')
        p
            | We generally use the word "stress" when we feel that everything seems to have become too much - we are
            | overloaded and wonder whether we really can cope with the pressures placed upon us.
        p
            | To assess your stress perception we recommend you
            a.ui-btn.ui-corner-all.ui-shadow(href='#q1', data-transition='flip')
                | Answer the questionnaire

#q1(data-role='page')
    div(data-role='content')
        form#formStress
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend
                    | 1. In the last month, how often have you been upset because of something that happened unexpectedly?
                label
                    input(type='radio', name='q1', value='0')
                    | Never
                label
                    input(type='radio', name='q1', value='1')
                    | Almost never
                label
                    input(type='radio', name='q1', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q1', value='3')
                    | Fairly often
                label
                    input(type='radio', name='q1', value='4')
                    | Very often
#q2(data-role='page')
    div(data-role='content')
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend
                    | 2. In the last month, how often have you felt that you were unable to control the important things in your life?
                label
                    input(type='radio', name='q2', value='0')
                    | Never
                label
                    input(type='radio', name='q2', value='1')
                    | Almost never
                label
                    input(type='radio', name='q2', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q2', value='3')
                    | Fairly often
                label
                    input(type='radio', name='q2', value='4')
                    | Very often
#q3(data-role='page')
    div(data-role='content')
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend 3. In the last month, how often have you felt nervous and stressed?
                label
                    input(type='radio', name='q3', value='0')
                    | Never
                label
                    input(type='radio', name='q3', value='1')
                    | Almost never
                label
                    input(type='radio', name='q3', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q3', value='3')
                    | Fairly often
                label
                    input(type='radio', name='q3', value='4')
                    | Very often
#q4(data-role='page')
    div(data-role='content')
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend
                    | 4. In the last month, how often have you felt confident about your ability to handle your personal problems?
                label
                    input(type='radio', name='q4', value='4')
                    | Never
                label
                    input(type='radio', name='q4', value='3')
                    | Almost never
                label
                    input(type='radio', name='q4', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q4', value='1')
                    | Fairly often
                label
                    input(type='radio', name='q4', value='0')
                    | Very often
#q5(data-role='page')
    div(data-role='content')
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend 5. In the last month, how often have you felt that things were going your way?
                label
                    input(type='radio', name='q5', value='4')
                    | Never
                label
                    input(type='radio', name='q5', value='3')
                    | Almost never
                label
                    input(type='radio', name='q5', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q5', value='1')
                    | Fairly often
                label
                    input(type='radio', name='q5', value='0')
                    | Very often
#q6(data-role='page')
    div(data-role='content')
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend
                    | 6. In the last month, how often have you found that you could not cope with all the things that you had to do?
                label
                    input(type='radio', name='q6', value='0')
                    | Never
                label
                    input(type='radio', name='q6', value='1')
                    | Almost never
                label
                    input(type='radio', name='q6', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q6', value='3')
                    | Fairly often
                label
                    input(type='radio', name='q6', value='4')
                    | Very often
#q7(data-role='page')
    div(data-role='content')
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend
                    | 7. In the last month, how often have you been able to control irritations in your life?
                label
                    input(type='radio', name='q7', value='4')
                    | Never
                label
                    input(type='radio', name='q7', value='3')
                    | Almost never
                label
                    input(type='radio', name='q7', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q7', value='1')
                    | Fairly often
                label
                    input(type='radio', name='q7', value='0')
                    | Very often
#q8(data-role='page')
    div(data-role='content')
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend 8. In the last month, how often have you felt that you were on top of things?
                label
                    input(type='radio', name='q8', value='4')
                    | Never
                label
                    input(type='radio', name='q8', value='3')
                    | Almost never
                label
                    input(type='radio', name='q8', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q8', value='1')
                    | Fairly often
                label
                    input(type='radio', name='q8', value='0')
                    | Very often
#q9(data-role='page')
    div(data-role='content')
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend
                    | 9. In the last month, how often have you been angered because of things that happened that were outside of your control?
                label
                    input(type='radio', name='q9', value='0')
                    | Never
                label
                    input(type='radio', name='q9', value='1')
                    | Almost never
                label
                    input(type='radio', name='q9', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q9', value='3')
                    | Fairly often
                label
                    input(type='radio', name='q9', value='4')
                    | Very often
#q10(data-role='page')
    div(data-role='content')
        .ui-field-contain
            fieldset(form='formStress', data-role='controlgroup')
                legend
                    | 10. In the last month, how often have you felt difficulties were piling up so high that you could not overcome them?
                label
                    input(type='radio', name='q10', value='0')
                    | Never
                label
                    input(type='radio', name='q10', value='1')
                    | Almost never
                label
                    input(type='radio', name='q10', value='2')
                    | Sometimes
                label
                    input(type='radio', name='q10', value='3')
                    | Fairly often
                label
                    input(type='radio', name='q10', value='4', required='')
                    | Very often
        a#getResult.ui-btn.ui-corner-all.ui-shadow Get Result
        #popupResult.ui-content(data-role='popup', data-overlay-theme='b', data-theme='b')
            a.ui-btn.ui-corner-all.ui-shadow.ui-btn-a.ui-icon-delete.ui-btn-icon-notext.ui-btn-right(href='#', data-rel='back') Close
        #popupCheck(data-role='popup')
            p  Choose an option

