
#video(data-role='page')
    div(data-role='content')
        h5.ui-bar.ui-bar-a.ui-corner-all What is Stress?
        .ui-body.ui-body-a.ui-corner-all
            iframe(width='560', height='315', src='https://www.youtube.com/embed/s93ywqFa6CM', frameborder='0', allowfullscreen='')
        h5.ui-bar.ui-bar-a.ui-corner-all Managing Stress - Brainsmart - BBC
        .ui-body.ui-body-a.ui-corner-all
            iframe(width='560', height='315', src='https://www.youtube.com/embed/hnpQrMqDoqE', frameborder='0', allowfullscreen='')
        h5.ui-bar.ui-bar-a.ui-corner-all How to avoid stress | Stress Management
        .ui-body.ui-body-a.ui-corner-all
            iframe(width='560', height='315', src='https://www.youtube.com/embed/Kf4Llmn-DNc', frameborder='0', allowfullscreen='')
